body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  border: 3px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: antiquewhite;
}

.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  border: 3px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-color: #1c1b1b;
}

.logo img {
  margin-top: 10px;
  margin-left: 20px;
}

.diachi,
.giohang {
  display: flex;
  align-items: center;
  gap: 10px;
  color: aliceblue;
}

.diachi svg,
.giohang svg {
  width: 20px;
  height: 20px;
  color: red;
  margin-left: 10px;
}
.diachi button{
  width: 160px;
  height: 50px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 20%;
  margin-left: 60px;
}
.giohang button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  margin-right: 40px;
  background-color: yellow;
  font-weight: bold;
  border-radius: 68px;
}
i {
  color: red;
}
.main_menu {
  background-color: rgba(128, 255, 0, 0.716);
  height: 59px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.main_menu li {
  display: inline-block;
  margin-right: 10px;
}

.main_menu li:last-child {
  margin-right: 0;
}

.main_menu li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.main_menu li a:hover {
  background-color: #ccc;
}


.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-left: 150px;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 50px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  height: 575px;
}

/* Hide slides by default */
.mySlides {
  display: none;
}

/* Fade effect */
.fade {
  animation: fade 2s ease-in-out;
}


/* Style the navigation dots */
.dot-container {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

/* Style the caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Ẩn dropdown-menu mặc định */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

/* Hiển thị dropdown-menu khi có class "show" */
.dropdown-menu.show {
  display: block;
}

/* Container chính cho layout */
.main-container {
  display: flex;
  margin-top: 58px;
}

/* Danh mục sản phẩm */
.menu-vertical {
  width: 16%;
  height: 500px;
  padding: 20px;
  background-color: #CCCC99;
  margin-right: 20px;
  margin-left:10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-vertical ul {
  list-style-type: none;
  padding-left: 0;
}

.menu-vertical li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

.menu-vertical li:last-child {
  border-bottom: none;
}

.menu-vertical a {
  color: #000000;
  text-decoration: none;
  background-color: #dcdcdc;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.menu-vertical a:hover {
  background-color: #c0c0c0;
}

/* Chi tiết sản phẩm */
.product-details-container {
  flex: 1;
  padding: 0px;
}

.product-title {
  color: white;
  background-color: #0088FF;
  text-align: center;
  padding: 0px;
  margin: 0;
}

.product-info {
  display: flex;
  align-items: flex-start;
}



.product-info-container {
  flex: 2;
}

.product-info-container div {
  margin-bottom: 0px;
}

.quantity-container {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.quantity-container button {
  margin: 0 px;
}

.btn-add-to-cart {
  font-size: 20px;
  margin-top: 0px;
  cursor: pointer;
}

.review-container {
  margin-top: 0px;
}
.original-price, .discounted-price, .price {
  font-size: 16px;
  color: #333;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}

.discounted-price {
  font-weight: bold;
  color: #e53935;
}



/* .ratings {
  display: flex;
}

.star {
  font-size: 24px;
  color: #FFD700;
  cursor: pointer;
}

.star:hover {
  color: #FFBF00;
} */

/* Responsive */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .menu-vertical {
    width: 100%;
    margin-right: 0;
  }

  .product-info {
    flex-direction: column;
  }
}

/* Container chính cho chi tiết sản phẩm */
.product-details-container {
  width: 80%;
  margin: 0 auto;
}

/* Tiêu đề sản phẩm */
.product-title {
  color: white;
  background-color: #0088FF;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

/* Container chứa cả hình ảnh và thông tin sản phẩm */
.product-content {
  display: flex;
  gap: 20px;
}

/* Container cho hình ảnh sản phẩm */
.product-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hình ảnh sản phẩm */
.product-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

/* Container cho thông tin sản phẩm */
.product-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Chi tiết sản phẩm */
.detail {
  display: flex; /* Sử dụng flexbox để xếp các phần tử trong một hàng */
  align-items: center; /* Căn giữa các phần tử theo chiều dọc */
  margin-left: 68px;
  padding: 0;
 
}

.detail label{
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  font-weight: bold; /* Đặt chữ đậm */
  color: #000; 
}

.detail input {
  border: 0px;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  background-color: antiquewhite;
}

.review-container {
  display: flex; /* Sử dụng flexbox để xếp các phần tử trên cùng một dòng */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-bottom: 10px; /* Khoảng cách phía dưới container */
  margin-left: 68px;
}

.review-container p {
  margin: 0; /* Loại bỏ khoảng cách mặc định */
  margin-right: 10px; /* Khoảng cách giữa chữ "Đánh Giá:" và các sao */
  font-weight: bold; /* Chữ đậm cho "Đánh Giá:" */
}

.ratings {
  display: flex; /* Sử dụng flexbox để xếp các sao theo chiều ngang */
}

.star {
  color: #FFD700; /* Màu vàng cho sao */
  font-size: 20px; /* Kích thước sao */
  cursor: pointer; /* Hiển thị con trỏ chỉ tay khi hover */
  margin-right: 5px; /* Khoảng cách giữa các sao */
}
/* Đánh giá sao */
.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.stars input {
  display: none;
}

.stars label {
  cursor: pointer;
  font-size: 20px;
  color: #FFFF00;
  margin-right: 5px;
}

.stars label:before {
  content: '★';
  font-size: 20px;
}

/* Container cho số lượng và thêm vào giỏ hàng */
/* Container cho số lượng và thêm vào giỏ hàng */
.quantity-container {
  display: flex; /* Sử dụng flexbox để xếp các phần tử nằm ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  gap: 0; /* Không có khoảng cách giữa các phần tử */
  margin-left: 68px;
}

/* Nút tăng/giảm số lượng */
.quantity-btn {
  background-color: #007bff; /* Màu nền xanh */
  color: white; /* Màu chữ trắng */
  border: none; /* Không viền */
  padding: 5px 10px; /* Padding nhỏ gọn */
  border-radius: 0; /* Loại bỏ bo tròn để nút vuông */
  cursor: pointer; /* Con trỏ chuột chỉ tay */
  font-size: 14px; /* Kích thước chữ nhỏ */
  margin: 0; /* Loại bỏ khoảng cách mặc định */
  
}

/* Input số lượng */
#quantity-input {
  width: 50px; /* Chiều rộng của input */
  text-align: center; /* Căn giữa chữ số */
  border: 1px solid #ddd; /* Viền mỏng màu xám nhạt */
  border-left: none; /* Loại bỏ viền trái để liền với nút giảm */
  border-right: none; /* Loại bỏ viền phải để liền với nút tăng */
  border-radius: 0; /* Loại bỏ bo tròn */
  padding: 0; /* Loại bỏ padding để input nhỏ hơn */
  margin: 0; /* Loại bỏ khoảng cách mặc định */
  box-sizing: border-box; /* Đảm bảo chiều rộng bao gồm cả viền và padding */
  height: 26px;
}



.btn-add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 360px;
 margin-left: 68px;
}

.btn-add-to-cart:hover {
  background-color: #218838;
}

/* Thông báo đăng nhập */
#usernameDisplay {
  color: #dc3545;
  font-size: 16px;
  font-weight: bold;
}

.product-description {
  font-size: 17px;
  border: 1px solid rgb(218, 212, 212); /* Viền nhẹ để hỗ trợ hiệu ứng ảo */
  border-radius: 10px; /* Bo tròn các góc */
  padding: 15px; /* Khoảng cách bên trong phần tử */
  background-color: #fff; /* Màu nền trắng để nổi bật trên nền tối */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Bóng mờ phía dưới */
              0 1px 3px rgba(0, 0, 0, 0.08); /* Bóng nhẹ hơn gần phần tử */
  transition: transform 0.2s, box-shadow 0.2s; /* Hiệu ứng chuyển động mềm mại */
  margin-left: 40px;
  margin-right: 40px;
}
.product-description p{
  font-weight: 100;
}

.best-sellers {
  float: right;
  width: 250px;
  /* Điều chỉnh kích thước của danh mục sản phẩm bán chạy */
  margin-top: 20px;
  margin-left:10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* Hiển thị 1 cột */
  grid-gap: 10px;
  /* Khoảng cách giữa các sản phẩm */
}

/* Container chính cho sản phẩm bán chạy */
.best-sellers {
  width: 16%;
  height: 100%;
  padding: 20px;
  background-color: #CCCC99;
  margin-top: 58px;
}

/* Container cho sản phẩm bán chạy */
.product-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Thẻ sản phẩm */
.product-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
  background-color: #fff;
  color: #100f0fb3;
}

/* Hình ảnh sản phẩm */
.product-image {
  width: 100px;
  height: 60px;
  margin-right: 15px;
}

/* Thông tin sản phẩm */
.product-details {
  flex: 1;
}

/* Tiêu đề và giá của sản phẩm */
.product-details .card-title {
  margin: 0;
  margin-left: 10px;
}

.product-details .card-text {
  margin-left: 8px;
  color: #e31313b3;
}

.product-display {
  width: 80%;
  /* Chiều rộng cố định cho màn hình lớn */
  padding: 20px;
}

/* Banner */
.banner {
  width: 100%;
  border: 1px solid transparent;
  border-bottom: none;
}

/* Tiêu đề của banner */
.banner h1 {
  color: white;
  background-color: #0088FF;
  padding: 15px;
  margin: 0;
}

/* Phần chứa slide */
/* Phần chứa slide */
.slide-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Khoảng cách giữa các sản phẩm */
  width: 100%;
  margin-top: 20px;
  height: 575px;
}

/* Container cho mỗi sản phẩm */
.banner-sp {
  flex: 1 1 200px;
  /* Cho phép sản phẩm co giãn linh hoạt */
  max-width: 210px;
  /* Kích thước tối đa cho mỗi sản phẩm */
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  /* Đảm bảo padding và border được tính vào chiều rộng */
}

/* Thumbnail sản phẩm */
.thumbnail {
  width: 100%;
  /* Đặt chiều rộng đầy đủ */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

/* Hình ảnh sản phẩm */
.thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s;
}

/* Hiệu ứng khi hover */
.thumbnail:hover {
  transform: scale(1.05);
}

/* Adjusting the layout of product info to be in a vertical column */
.thumbnail .product-info {
  margin-top: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-aligns content horizontally */
  gap: 10px; /* Adds space between the elements */
}

/* Product name and price */
.thumbnail .product-info h3,
.thumbnail .product-info p {
  font-size: 18px;
  margin: 0;
  color: white;
  text-align: center;
}

/* Rating stars */
.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.stars label {
  cursor: pointer;
  font-size: 20px;
  color: #FFFF00;
  margin-right: 5px;
}

/* "Xem chi tiết" button */
.thumbnail .product-info .add-to-cart-btn {
  display: none;
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%;
}

/* Button hover effect */
.thumbnail .product-info .add-to-cart-btn:hover {
  background-color: #f1c40f;
}

/* Adjust hover effect to display button */
.thumbnail:hover .product-info .add-to-cart-btn {
  display: block;
}

/* Sale-off badge */
.thumbnail .sale-off {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .banner-sp {
    flex: 1 1 220px;
  }

  .slide-group {
    gap: 15px;
  }
}

@media (max-width: 992px) {
  .banner-sp {
    flex: 1 1 240px;
  }

  .slide-group {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .slide-group {
    flex-direction: column;
    gap: 10px;
  }

  .banner-sp {
    flex: 1 1 100%;
  }
}

.add-to-cart-btn {
  background-color: white;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.add-to-cart-btn:hover {
  background-color: #f1c40f;
}

.thumbnail .product-info .add-to-cart-btn {
  display: none;
}

.thumbnail:hover .product-info .add-to-cart-btn {
  display: block;
}

.restaurant-footer {
  background-color: #e1e1de;
  color: #1c1b1b;
  padding: 50px 0;
  margin-top: 900px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-section.about .contact span {
  display: block;
  margin-bottom: 10px;
}

.footer-section.about .social-media a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.footer-section.about .social-media a:hover {
  color: #f39c12;
}

.footer-section.links ul {
  list-style: none;
}

.footer-section.links ul li {
  margin-bottom: 10px;
}

.footer-section.links ul li a {
  color: #1c1b1b;
  text-decoration: none;
}

.footer-section.links ul li a:hover {
  color: #f39c12;
}

.contact-form .text-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f39c12;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e67e22;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  background-color: white;
}

#scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: none;
  padding: 10px;
  border: 1px solid #999999;
  cursor: pointer;
  border-radius: 100%;
  background-color: hsla(0, 0%, 100%, 1);
}

#scroll-to-top-btn:hover {
  background-color: lightgreen;
}

#scroll-to-top-btn svg {
  width: 30px;
  height: 20px;
}

/* Ẩn dropdown-menu mặc định */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

/* Hiển thị dropdown-menu khi có class "show" */
.dropdown-menu.show {
  display: block;
}

/* thông báo */
 /* CSS cho  thông báo*/
 .alert-success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* CSS cho hộp thông báo */
.alert-success-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* CSS cho icon dấu tích */
.alert-success-icon {
  font-size: 50px;
  color: green;
  margin-bottom: 10px;
}

/* CSS cho thông điệp */
.alert-success-message {
  font-size: 20px;
  color: black;
}

/* Animation fade out */
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
/* Container chứa các ô chat */
.chat-container {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 1000;
}

/* Ô chat */
.chat-widget {
  width: 130px; /* Chiều rộng của widget */
  height: 50px; /* Chiều cao của widget */
  background-color: #fff; /* Màu nền */
  border-radius: 40% / 100%; /* Bo tròn hai đầu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  display: flex; /* Sử dụng Flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  transition: transform 0.3s, box-shadow 0.3s; /* Hiệu ứng khi hover */
  cursor: pointer; /* Con trỏ khi hover */
  overflow: hidden; /* Ẩn nội dung tràn ra ngoài */
}

/* Hiệu ứng hover cho ô chat */
.chat-widget:hover {
  transform: scale(1.1); /* Phóng to nhẹ khi hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Tăng bóng khi hover */
}

/* Zalo Chat Widget */
.zalo-chat {
  background-color: #0085FF; /* Màu nền của Zalo chat */
}
.Facebook-chat{
  background-color: #0085FF; /* Màu nền của Zalo chat */
}

.zalo-chat img {
  width: 50px; /* Điều chỉnh kích thước hình ảnh cho phù hợp */
  height: 50px; /* Điều chỉnh kích thước hình ảnh cho phù hợp */
  border-radius: 50%; /* Bo tròn hình ảnh */
  margin-right: 20px; /* Khoảng cách giữa hình ảnh và chữ */

}
.Facebook-chat  img {
  width: 50px; /* Điều chỉnh kích thước hình ảnh cho phù hợp */
  height: 50px; /* Điều chỉnh kích thước hình ảnh cho phù hợp */
  border-radius: 50%; /* Bo tròn hình ảnh */
margin-left:10px;

}
.chat-link {
  display: flex; /* Sử dụng Flexbox để sắp xếp nội dung bên trong */
  align-items: center; /* Căn giữa theo chiều dọc */
  text-decoration: none; /* Không có gạch chân cho liên kết */
  color: #fff; /* Màu chữ */
}

/* Văn bản chat */
.chat-text {
  font-size: 14px; /* Kích thước chữ */
  margin-right: 28px;
}
.Sales-policy {
  display: flex;
  /* Sử dụng Flexbox */
  justify-content: space-between;
  /* Khoảng cách đều giữa các phần tử */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  border: 1px solid rgba(128, 128, 128, 0.195);
  border-left: 0px;
  border-right: 0px;
  margin-top: 20px;
  background-color: #CCCC99;
}

.item {
  width: 30%;
  /* Đảm bảo mỗi phần tử chiếm 30% chiều rộng */
  text-align: center;
  /* Căn giữa nội dung văn bản */
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 1.25em;
  font-family: 'Times New Roman', Times, serif;
  border: 0;
}

.fas {
  color: red;

}
/* zoom */
/* Product Image Container */
.product-image-container {
  position: relative;
  display: inline-block;
}

/* Overlay Styles */
.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Sit on top of the page content */
  z-index: 1000; /* Make sure it stays on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* Zoomed Image Styles */
.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}

/* Close Button Styles */
.close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #bbb;
}
